@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Epilogue&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Epilogue','Roboto', sans-serif;
  background-color: #25274D;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container1 {
  z-index: 2;
}

.bgimg {
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: auto;

  background: linear-gradient(0deg, rgba(37, 39, 77, 0.7), rgba(37, 39, 77, 0.7)), url('https://images.unsplash.com/photo-1563950708942-db5d9dcca7a7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1850&q=80') no-repeat center center fixed;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20VH;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 70px;
  background-color: transparent;
  color: #fff;
}

.intro.author {
  margin-top: -30px;
}

.intro.para {
  margin-top: 6rem;
  word-spacing: 0.8px;
  font-size: 25px;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  font-family: Roboto;
  width: 50vw;
  color: #fff;
  letter-spacing: 0.8px;
  background-color: transparent;
}

.container2 {
  margin-top: 750px;
  width: 100vw;
  height: 100vh;
  background-color: #25274D;
  background-size: cover;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50vw;
  height: 80vh;
}

.picture {
  height: 17vh;
  width: 15vw;
}

.logo {
  fill: #fff;
}

.posttitle {
  font-family: 'Epilogue';
  font-size: 30px;
  color: #fff;
  margin: 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.au {
  margin: -25px;
  background-color: transparent;
  height: 40vh;
  width: auto;
  overflow: hidden;
  text-decoration: none;
}

.posttitle:hover {
  color: #2e9cca;
}

/* One Post JS */

.arrow {
  margin: 25px;
  color: fff;
}

.blogImage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: auto;
  height: auto;
}

.blogContent {
  color: #fff;
  margin: 70px 230px 120px 230px;
  text-indent: 30px;
  letter-spacing: 1px;
  line-height: 20px;
  font-size: 20px;
}

/* footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  flex-direction: row;
  margin: 10px 10px 30px 10px;
}


@media (max-width: 600px) {
  .title {
    font-size: 37px;
  }

  .picture {
    margin: auto;
    size: 100%;
    width: 100px;
  }

    .intro {
      font-size: 17px;
    }

    .intro.para{
      font-size: 20px;
      width: 80vw;
      height: auto;
      margin-bottom: 20px;
    }

    .picture {
      width: 65vw;
    }

    .blogContent {
      margin: 25px;
      font-size: 20px;
      letter-spacing: 1.7px;
      line-height: 30px;
    }

    .blogImage {
      width: 80vw;
      height: 30vh;
      margin: auto;
    }

    .container1 {
      height: 100%;
      width: 100%;
      overflow-y: hidden;
      overflow-x: hidden;
    }

    .bgimg {
      height: 100vh;
      width: 100vw;
      margin-bottom: 20px;
      background-size: cover;
    }

}